@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  flex: 1;
  font-family: Outfit, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* font-family: "Eudoxus Sans", sans-serif; */
  line-height: 1.5;
  font-weight: 400;
  margin: 0 auto;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}